# === Python cache & venv ===
__pycache__/
*.pyc
*.pyo
.venv/

venv/




Proof of Concept/


# On garde le dossier docs/, mais pas son contenu
docs/*
!docs/.gitkeep
!docs/README.md

# On garde le dossier db/, mais pas son contenu
db/*
!db/.gitkeep

# === Logs & autres ===
*.log
